html {
    overflow: hidden;
  }
body {
    margin: 0;
    padding: 0;
  }
#weather{
background-color: rgb(62, 123, 183);
padding: 1vw;
display: flex;
flex-direction: row;
align-items: center;
justify-items: center;
width: 100vw;
height: 100vh;

}
#currentWeather{
background-color: rgba(19, 176, 58, 0.515);

margin:0.2vw;
flex: 1 0 calc(33.33% - 1vw); /* Subtract 10 pixels of margin */
height: 100%;
border-radius: 20%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
}
#weatherAtThreeHours{
background-color: rgba(74, 144, 74, 0.392);
margin:0.2vw;

flex: 1 0 calc(33.33% - 1vw); /* Subtract 10 pixels of margin */
height: 100%;
border-radius: 20%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
}
#weatherAtSixHours{
background-color: rgba(38, 182, 129, 0.384);
margin:0.2vw;
flex: 1 0 calc(33.33% - 1vw); /* Subtract 10 pixels of margin */
height: 100%;
border-radius: 20%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;

}
.cloud-icon {
  font-size: 5em;
}