html {
    overflow: hidden;
  }
body {
    margin: 0;
    padding: 0;
  }
  #weather {
    background-color: rgba(19, 176, 58, 0.7);
    padding: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    width: 100vw;
    height: 100vh;
    font-size: 1.1em;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    animation-name: colorTransition;
    animation-duration: 8s;
    animation-iteration-count: infinite;
  }
  
  @keyframes colorTransition {
    0% {
      background-color: rgba(54, 189, 63, 0.855);
    }
    25% {
      background-color: rgba(42, 152, 132, 0.855);
    }
    50% {
      background-color: rgba(28, 132, 170, 0.835);
    }
    75% {
      background-color: rgba(42, 152, 132, 0.855);
    }
    100% {
      background-color: rgba(54, 189, 63, 0.855);
    }
  }
  
  #currentWeather {
    background-color: rgb(16, 146, 48);
    margin: 0.2vw;
    flex: 1 0 calc(33.33% - 1vw);
    height: 100%;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 0px 2vw rgba(0, 0, 0, 0.3);
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  #currentWeather:hover {
    background-color: rgba(19, 176, 58, 1);
    box-shadow: 0px 0px 4vw rgba(0, 0, 0, 0.5);
  }
  
  #weatherAtThreeHours {
    background-color: rgba(74, 144, 74, 0.63);
    margin: 0.2vw;
    flex: 1 0 calc(33.33% - 0.2vw); /* Subtract 2 pixels of margin */
    height: 100%;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 0px 2vw rgba(0, 0, 0, 0.3);
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  #weatherAtThreeHours:hover {
    background-color: rgba(100, 195, 100, 0.814);
    box-shadow: 0px 0px 4vw rgba(0, 0, 0, 0.5);
  }
  
  #weatherAtSixHours {
    background-color: rgba(47, 116, 142, 0.636);
    margin: 0.2vw;
    flex: 1 0 calc(33.33% - 1vw);
    height: 100%;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 0px 2vw rgba(0, 0, 0, 0.3);
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  #weatherAtSixHours:hover {
    background-color: rgba(66, 157, 191, 0.815);
    box-shadow: 0px 0px 4vw rgba(0, 0, 0, 0.5);
  }
  
.cloud-icon {
  font-size: 5em;
}